// Pre-define variables
// $theme-colors: ( 'primary': #007bff );
/* Brand */
$brand-main-1: #7a4ce3; // Main01
$brand-main-2: #3c11a4; // Main02
$brand-main-3: #f2f0f6; // Main03
$brand-black: #252525;
$brand-white: #ffffff;
$brand-danger: #f00;
$banner-black: #161616;

/* Neutral */
$neutral-1: #909090; // Gray01
$neutral-2: #f7f7f7; // Gray02
$neutral-3: #9ca4b2; // Gray03

$spacers: (
  0: 0,
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 20px,
  6: 24px,
  7: 32px,
  8: 36px,
  9: 40px,
);

@import 'bootstrap/scss/functions';

// Custom breakpoints - override Bootstrap defaults
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  // Custom lg breakpoint
  xl: 1290px,
);

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

// Override Bootstrap's danger color
$primary: $brand-main-1;
$secondary: $brand-main-2;
$tertiary: $brand-main-3;
$black: $brand-black;
$white: $brand-white;
$light: $brand-white;
$dark: $brand-black;
$gray: $neutral-1;
$gray-light: $neutral-2;
$gray-dark: $neutral-3;
$danger: $brand-danger;

$position-values: map-merge(
  $position-values,
  (
    1: 4px,
    2: 8px,
    3: 12px,
    4: 16px,
    5: 20px,
    6: 24px,
  )
);

$theme-colors: map-merge(
  $theme-colors,
  (
    'primary': $brand-main-1,
    'secondary': $brand-main-2,
    'tertiary': $brand-main-3,
    'black': $brand-black,
    'white': $brand-white,
    'light': $brand-white,
    'dark': $brand-black,
    'gray': $neutral-1,
    'gray-light': $neutral-2,
    'gray-dark': $neutral-3,
    'danger': $brand-danger,
  )
);
$colors: map-merge(
  $colors,
  (
    'banner-black': $banner-black,
  )
);
@import 'bootstrap/scss/maps';
