// Variables
@import "_variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

// Base
@import "base/typography";
// @import "base/utilities";
// @import "base/extended";

// component
@import "components/_button";
@import "components/_input";
@import "components/_header";

// Layout
// @import "layout/base";
// @import "layout/header";
// @import "layout/banner";
// @import "layout/footer";

// Pages
// @import "pages/home";
