// Variables
@import 'variables';

// Bootstrap Icons
@import 'bootstrap-icons';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Base
@import 'base/typography';
@import 'base/utilities';
// @import "base/extended";

// component
@import 'components/button';
@import 'components/input';
@import 'components/features-section';
@import 'components/mobile-menu';
@import 'components/simple-footer';

// Layout
// @import "layout/base";
@import 'layout/header';
// @import "layout/banner";
@import 'layout/footer';

// Pages
@import 'pages/home';
@import 'pages/easy-use';
@import 'pages/all-connected';
@import 'pages/grow-again';
@import 'pages/industry-fit';
@import 'pages/tourist-ready';
@import 'pages/demo-booking';
