// Variables
@import '_variables';

// Bootstrap Icons
@import '_bootstrap-icons';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Base
@import 'base/typography';
@import 'base/utilities';
// @import "base/extended";

// component
@import 'components/_button';
@import 'components/_input';
@import 'components/_header';
@import 'components/_features-section';
@import 'components/_mobile-menu';
@import 'components/_footer';

// Layout
// @import "layout/base";
// @import "layout/header";
// @import "layout/banner";
// @import "layout/footer";

// Pages
@import 'pages/_home';
