.all-connected {
  .hero {
    position: relative;
    height: 500px;
    width: 100%;
    background-color: $banner-black;
    @include media-breakpoint-down(md) {
      height: 360px;
      padding: 96px 12px 0px 12px;
    }

    &__bg--desktop {
      height: 100%;
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      object-fit: cover;
    }
    &__bg--mobile {
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &__content {
      z-index: 1;
      margin-left: 10%;
      @include media-breakpoint-down(md) {
        margin: 0;
      }
    }
  }
  .connected-brands {
    padding: 120px 12px 274px 12px;
    gap: 64px;
    @include media-breakpoint-down(md) {
      padding: 64px 12px 198px 12px;
      gap: 40px;
    }
    .content-container {
      max-width: 560px;
    }
    &__phone {
      width: 100%;
      max-width: 1144px;
      object-fit: contain;
      position: relative;
      @include media-breakpoint-down(md) {
        max-width: 100%;
      }
    }
    &__block {
      position: relative;
      overflow: hidden;
      .circle {
        position: absolute;
        aspect-ratio: 1;
        left: 50%;
        top: 48%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        &::after {
          content: '';
          position: absolute;
          left: 50%;
          top: 29%;
          transform-origin: bottom;
          transform: translate(-50%, -50%);
          background-color: white;
        }

        &--1 {
          border: 1px solid $picture-purple;
          animation: rotate1 4s linear infinite;
          width: 58%;
          z-index: -2;
          &::after {
            width: 80%;
            height: 61%;
            z-index: -1;
          }
        }
        &--2 {
          border: 1px solid rgba($picture-purple, 0.6);
          animation: rotate2 4s linear infinite;
          width: 72%;
          z-index: -4;
          &::after {
            width: 75%;
            height: 76%;
            z-index: -3;
          }
        }
        &--3 {
          border: 1px solid rgba($picture-purple, 0.4);
          animation: rotate3 4s linear infinite;
          width: 86%;
          z-index: -6;
          &::after {
            width: 70%;
            height: 91%;
            z-index: -5;
          }
        }
        &--4 {
          border: 1px solid rgba($picture-purple, 0.2);
          animation: rotate4 4s linear infinite;
          width: 100%;
          z-index: -8;
          &::after {
            width: 45%;
            height: 106%;
            z-index: -7;
          }
        }
      }
    }
  }
  .items-first-section,
  .items-second-section {
    .section-container {
      padding: 0px 12px;
      @include media-breakpoint-down(md) {
        padding: 0px 12px;
      }
    }
    &__title {
      margin-bottom: 56px;
      @include media-breakpoint-down(md) {
        margin-bottom: 40px;
      }
    }
    &__list {
      max-width: 1314px;
      gap: 192px;
      > :nth-child(1),
      > :nth-child(3) {
        .item {
          flex-direction: row;
        }
      }
      > :nth-child(2) {
        .item {
          flex-direction: row-reverse;
        }
      }
      @include media-breakpoint-down(md) {
        > :nth-child(1),
        > :nth-child(2),
        > :nth-child(3) {
          flex-direction: column;
        }
      }

      @include media-breakpoint-down(md) {
        gap: 80px;
      }

      .item {
        gap: 64px;
        @include media-breakpoint-down(md) {
          gap: 24px;
        }
        &__image {
          object-fit: contain;
          width: 50%;
          @include media-breakpoint-down(md) {
            width: 100%;
          }
        }
        &__content {
          gap: 72px;
          @include media-breakpoint-down(md) {
            gap: 20px;
          }
        }
      }
    }
  }
  .items-first-section {
    &__bg {
      max-width: 1100px;
      width: 100%;
      right: 0;
      bottom: 320px;
      object-fit: cover;
    }
    .section-container {
      z-index: 1;
      margin: -56px 0 -86px 0;
      @include media-breakpoint-down(md) {
        margin: 0px 0 30px 0;
      }
    }
    &__title {
      @include media-breakpoint-down(md) {
        margin-top: -118px;
      }
    }
  }
  .items-second-section {
    .section-container {
      margin: 286px 0 152px 0;
      @include media-breakpoint-down(md) {
        margin: 68px 0 64px 0;
      }
    }
  }
}
