@import '../variables';
@import '../base/typography';

.demo-booking {
  margin-bottom: 124px;
  @include media-breakpoint-down(md) {
    margin-bottom: 48px;
  }
  .hero {
    padding: 164px 0 426px 0;
    @include media-breakpoint-down(md) {
      padding: 86px 0 194px 0;
    }
  }

  .form-card {
    margin-top: -334px;
    max-width: 1314px;
    background: white;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    padding: 80px 20px;
    min-height: 922px;

    @include media-breakpoint-down(md) {
      margin-top: -142px;
      padding: 32px 20px;
      min-height: 604px;
    }
    &__success {
      width: 200px;
      height: 200px;
      .submit-icon {
        @include media-breakpoint-down(md) {
          width: 100px;
          height: 100px;
        }
      }
    }
    &__content {
      gap: 64px;
      max-width: 890px;
      width: 100%;
      @include media-breakpoint-down(md) {
        gap: 24px;
      }
      .form-divider {
        width: 100%;
        height: 1px;
      }
      .input-container {
        gap: 48px;
        @include media-breakpoint-down(md) {
          gap: 12px;
        }
      }
    }
  }
}
