@import '../_variables';
.easy-use {
  .hero {
    position: relative;
    height: 500px;
    width: 100%;
    background-color: $banner-black;
    @include media-breakpoint-down(md) {
      height: 360px;
      padding: 96px 12px 0px 12px;
    }

    .background-image__desktop {
      height: 100%;
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      object-fit: cover;
    }
    .background-image__mobile {
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &__content {
      z-index: 2;
      margin-left: 10%;
      position: relative;
      @include media-breakpoint-down(md) {
        margin: 0;
      }
    }
  }
  .items {
    padding: 100px 12px 160px 12px;
    @include media-breakpoint-down(md) {
      padding: 48px 12px 58px 12px;
    }
    &__list {
      max-width: 1314px;
      gap: 192px;
      > :nth-child(1),
      > :nth-child(3) {
        flex-direction: row;
      }
      > :nth-child(2),
      > :nth-child(4) {
        flex-direction: row-reverse;
      }
      @include media-breakpoint-down(md) {
        > :nth-child(1),
        > :nth-child(2),
        > :nth-child(3),
        > :nth-child(4) {
          flex-direction: column;
        }
      }

      @include media-breakpoint-down(md) {
        gap: 80px;
      }
      .item-container {
        gap: 64px;

        @include media-breakpoint-down(md) {
          gap: 24px;
        }
      }
      .item {
        &__image {
          object-fit: contain;
          width: 50%;
          @include media-breakpoint-down(md) {
            width: 100%;
          }
        }
        &__content {
          gap: 72px;
          @include media-breakpoint-down(md) {
            gap: 20px;
          }
        }
      }
    }
  }
  .bottom-banner {
    position: relative;
    height: 700px;
    margin: 0 12px;
    @include media-breakpoint-down(md) {
      width: 100%;
      height: 616px;
      padding: 32px 20px 0px 20px;
    }

    .background-image__desktop {
      height: 100%;
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      object-fit: cover;
    }
    .background-image__mobile {
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &__content {
      z-index: 1;
      margin-left: 5%;
      width: 40%;
      @include media-breakpoint-down(md) {
        margin: 0;
        width: 100%;
      }
    }
    &__tree {
      max-width: 50%;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      max-height: 900px;
      z-index: 1;

      @include media-breakpoint-down(md) {
        max-width: 100%;
        max-height: 60%;
        //grow from bottom
        top: auto;
        bottom: 40px;
        transform: translateX(-50%) translateY(0);
        left: 50%;
        max-width: 100%;
      }
    }
  }
  .bottom-banner-container {
    width: 100%;
    margin-top: 172px;
    position: relative;
    margin-bottom: 160px;
    @include media-breakpoint-down(md) {
      margin-top: 68px;
      margin-bottom: 36px;
    }
    &__background-image {
      position: absolute;
      top: -172px;
      bottom: 232px;
      @include media-breakpoint-down(md) {
        top: -68px;
        bottom: 348px;
      }
    }
  }
}
