.easy-use {
  .hero {
    position: relative;
    height: 500px;
    width: 100%;
    background-color: $banner-black;
    @include media-breakpoint-down(md) {
      height: 360px;
      padding: 96px 12px 0px 12px;
    }

    &__bg--desktop {
      height: 100%;
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      object-fit: cover;
    }
    &__bg--mobile {
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &__content {
      z-index: 2;
      margin-left: 10%;
      position: relative;
      @include media-breakpoint-down(md) {
        margin: 0;
      }
    }
  }
  .items {
    padding: 100px 12px 160px 12px;
    @include media-breakpoint-down(md) {
      padding: 48px 12px 58px 12px;
    }
    &__bg {
      max-width: 1100px;
      width: 100%;
      right: 0;
      transform: translateY(-72px);
      object-fit: cover;
    }
    &__list {
      z-index: 1;
      max-width: 1314px;
      gap: 192px;
      > :nth-child(1),
      > :nth-child(3) {
        flex-direction: row;
      }
      > :nth-child(2),
      > :nth-child(4) {
        flex-direction: row-reverse;
      }
      @include media-breakpoint-down(md) {
        > :nth-child(1),
        > :nth-child(2),
        > :nth-child(3),
        > :nth-child(4) {
          flex-direction: column;
        }
      }

      @include media-breakpoint-down(md) {
        gap: 80px;
      }
      .item {
        gap: 64px;
        @include media-breakpoint-down(md) {
          gap: 24px;
        }
        &__image {
          object-fit: contain;
          width: 50%;
          @include media-breakpoint-down(md) {
            width: 100%;
          }
        }
        &__content {
          gap: 72px;
          @include media-breakpoint-down(md) {
            gap: 20px;
          }
        }
      }
    }
  }
  .bottom-banner {
    position: relative;
    height: 700px;
    margin: 0 12px;
    flex-wrap: wrap;
    @include media-breakpoint-down(md) {
      width: 100%;
      height: 616px;
      padding: 32px 20px 0px 20px;
      gap: 10%;
    }

    &__bg--desktop {
      height: 100%;
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      object-fit: cover;
    }
    &__bg--mobile {
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &__content {
      z-index: 1;
      margin: 0 5%;
      width: 40%;
      @include media-breakpoint-down(md) {
        margin: 0;
        width: 100%;
      }
    }
    &__ring {
      width: 45%;
      aspect-ratio: 1;
      border-radius: 50%;
      border: $white dotted 3px;
      z-index: 1;
      margin-right: 5%;
      position: relative;
      @include media-breakpoint-down(md) {
        margin: 0 5%;
        width: 80%;
      }
    }
    &__circle-container {
      position: absolute;
      top: 0;
      left: 50%;
      transform-origin: 50% 100%;
      rotate: calc(var(--i) * 51.4deg - 28deg);
      translate: -50% -5%;
      width: 10px;
      height: 55%;
      list-style: none;
    }
    .circle {
      rotate: calc(var(--i) * 51.4deg - 28deg);
      translate: 50%;
      height: 45%;
      aspect-ratio: 1;
      border-radius: 50%;
      @include media-breakpoint-down(md) {
        height: 60%;
      }
      @include media-breakpoint-down(lg) {
        height: 60%;
      }
      &__content {
        transform: rotate(calc(var(--i) * -102.8deg + 56deg));
      }
      &__icon {
        margin-top: -10%;
        width: 50%;
        @include media-breakpoint-down(md) {
          width: 35%;
        }
      }
      &__text {
        width: 80%;
      }
    }
  }
  .bottom-banner-container {
    width: 100%;
    margin-top: 172px;
    position: relative;
    margin-bottom: 160px;
    @include media-breakpoint-down(md) {
      margin-top: 68px;
      margin-bottom: 36px;
    }
    &__background-image {
      position: absolute;
      top: -172px;
      bottom: 232px;
      @include media-breakpoint-down(md) {
        top: -68px;
        bottom: 348px;
      }
    }
  }
}
