@import '../_variables';
.grow-again {
  .top-banner {
    padding: 100px 12px 160px 12px;
    @include media-breakpoint-down(md) {
      padding: 98px 12px 154px 12px;
    }
    &__container {
      max-width: 1290px;
      height: 358px;

      @include media-breakpoint-down(md) {
        height: 226px;
      }
    }
    &__slogan-decoration {
      top: 64px;
      width: 100%;
    }
    &__left-photo {
      left: 0;
      width: 25%;
      max-width: 584px;
      top: 140px;
      @include media-breakpoint-down(md) {
        top: 40px;
        width: 154px;
      }
    }
    &__right-photo {
      right: 0;
      width: 25%;
      max-width: 470px;
      top: 118px;
      @include media-breakpoint-down(md) {
        top: 274px;
        width: 188px;
      }
    }
  }
  .hero {
    position: relative;
    height: 500px;
    width: 100%;
    background-color: $banner-black;
    @include media-breakpoint-down(md) {
      height: 360px;
      padding: 96px 12px 0px 12px;
    }

    .background-image__desktop {
      height: 100%;
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      object-fit: cover;
    }
    .background-image__mobile {
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &__content {
      z-index: 1;
      margin-left: 10%;
      @include media-breakpoint-down(md) {
        margin: 0;
      }
    }
  }
  .client {
    gap: 64px;
    @include media-breakpoint-down(md) {
      gap: 32px;
    }

    &__list {
      width: 100%;
      @include media-breakpoint-down(md) {
        padding: 0 12px;
      }
    }
  }
  .services {
    z-index: 1;
    max-width: 1314px;
    padding: 190px 12px 0px 12px;
    margin-bottom: -404px;
    gap: 168px;
    @include media-breakpoint-down(md) {
      padding: 80px 12px 0px 12px;
      gap: 80px;
      margin-bottom: -370px;
    }
    &__banner-1 {
      height: 480px;
      @include media-breakpoint-down(md) {
        height: auto;
      }
    }
    &__banner-2 {
      height: 544px;
      padding: 32px 64px;
      @include media-breakpoint-down(md) {
        height: auto;
        padding: 32px 12px;
        &__icon {
          width: 40px;
          height: 40px;
          @include media-breakpoint-down(md) {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
  .bottom-banner {
    width: 100%;
    padding-top: 827px;
    margin-bottom: 20%;

    @include media-breakpoint-down(md) {
      padding: 432px 12px 12px 0px;
    }
    &__slogan-decoration {
      bottom: 160px;
      left: 0;
    }
    &__slogan {
      width: 60%;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
    &__photo {
      width: 100%;
      margin-top: -126px;
      margin-bottom: -20%;
      @include media-breakpoint-down(md) {
        margin-top: 40px;
      }
    }
  }
}
