.grow-again {
  .hero {
    position: relative;
    height: 500px;
    width: 100%;
    background-color: $banner-black;
    @include media-breakpoint-down(md) {
      height: 360px;
      padding: 96px 12px 0px 12px;
    }

    &__bg--desktop {
      height: 100%;
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      object-fit: cover;
    }
    &__bg--mobile {
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &__content {
      z-index: 1;
      margin-left: 10%;
      @include media-breakpoint-down(md) {
        margin: 0;
      }
    }
  }
  .top-banner {
    padding: 100px 12px 160px 12px;
    @include media-breakpoint-down(md) {
      padding: 98px 12px 154px 12px;
    }
    &__container {
      max-width: 1290px;
      height: 358px;

      @include media-breakpoint-down(md) {
        height: 226px;
      }
    }
    &__slogan-decoration {
      top: 64px;
      width: 100%;
    }
    &__left-photo {
      left: 0;
      width: 25%;
      max-width: 584px;
      top: 140px;
      @include media-breakpoint-down(md) {
        top: 40px;
        width: 154px;
      }
    }
    &__right-photo {
      right: 0;
      width: 25%;
      max-width: 470px;
      top: 118px;
      @include media-breakpoint-down(md) {
        top: 274px;
        width: 188px;
      }
    }
  }

  .awareness {
    width: 100%;
    padding: 0 12px 150px 12px;
    @include media-breakpoint-down(md) {
      padding: 0px 12px 80px 12px;
    }
    .content-container {
      max-width: 560px;
    }
    &__logo-container {
      max-width: 1700px;
      position: relative;
      height: 420px; // 6 rows * 70px height + 5 gaps * 24px = 420px + 120px = 540px, but we need to show 6 rows so 420px
      overflow: hidden;
      margin-top: 64px;
      @include media-breakpoint-down(md) {
        height: 280px; // 4 rows * 60px height + 3 gaps * 24px = 240px + 72px = 312px, but we need to show 4 rows so 280px
        margin-top: 40px;
      }
    }

    &__logo-track {
      display: flex;
      flex-direction: column;
      gap: 28px;
      will-change: transform;
      padding: 0 30px;

      @include media-breakpoint-down(xl) {
        gap: 20px;
        padding: 0 16px;
      }

      @for $i from 1 through 6 {
        $duration: 8s + ($i - 1) * 2s;

        &--#{$i} {
          animation: if($i % 2 == 1, scroll-down, scroll-up)
            $duration
            linear
            infinite;
        }
      }
    }

    &__logo-item {
      width: 140px;
      @include media-breakpoint-down(md) {
        width: 80px;
      }

      img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  $move-distance: calc(4 * (140px + 28px)); // 4 brand + 4 gap = 672px
  $move-distance-mobile: calc(4 * (80px + 20px)); // 4 brand + 4 gap = 400px

  @keyframes scroll-down {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-$move-distance);
    }
  }

  @keyframes scroll-up {
    0% {
      transform: translateY(-$move-distance);
    }
    100% {
      transform: translateY(0);
    }
  }

  @include media-breakpoint-down(md) {
    @keyframes scroll-down {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-$move-distance-mobile);
      }
    }

    @keyframes scroll-up {
      0% {
        transform: translateY(-$move-distance-mobile);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
  .client {
    .content-container {
      max-width: 560px;
    }
    gap: 64px;
    @include media-breakpoint-down(md) {
      gap: 32px;
    }

    &__list {
      width: 100%;
      @include media-breakpoint-down(md) {
        padding: 0 12px;
      }
    }
  }
  .services {
    z-index: 1;
    max-width: 1314px;
    padding: 190px 12px 0px 12px;
    margin-bottom: -404px;
    gap: 168px;
    @include media-breakpoint-down(md) {
      padding: 80px 12px 0px 12px;
      gap: 80px;
      margin-bottom: -370px;
    }
    &__banner-1 {
      height: 480px;
      @include media-breakpoint-down(md) {
        height: auto;
      }
    }
    &__banner-2 {
      height: 544px;
      padding: 32px 64px;
      @include media-breakpoint-down(md) {
        height: auto;
        padding: 32px 12px;
        &__icon {
          width: 40px;
          height: 40px;
          @include media-breakpoint-down(md) {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
  .bottom-banner {
    width: 100%;
    padding-top: 827px;
    margin-bottom: 20%;
    overflow-x: clip;
    @include media-breakpoint-down(md) {
      padding: 432px 0px 0px 0px;
    }
    &__slogan-decoration {
      bottom: 160px;
      left: 0;
    }
    &__slogan {
      width: 60%;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
    &__images {
      width: calc(100% + 60px);
      max-width: 1980px;
      margin-top: -130px;
      margin-bottom: -330px;
      overflow: hidden;
    }
    &__photo {
      width: 100%;
      margin-top: -126px;
      margin-bottom: -20%;
      @include media-breakpoint-down(md) {
        margin-top: 40px;
      }
    }
  }
}
