@import '../_variables';
@import '../base/typography';

.home {
  .hero {
    height: 780px;
  }
}
.brands {
  max-width: 1290px;
  margin: 56px 0px 98px 0px;
  @include media-breakpoint-down(md) {
    margin: 42px 0px;
  }
  &__title {
    @include headline-regular(24px, 140%, 0%);
    @include media-breakpoint-down(md) {
      @include headline-regular(20px, auto, 0%);
    }
  }
  .brand__logo {
    height: 64px;
    @include media-breakpoint-down(md) {
      height: 28px;
    }
  }
}
.features {
  height: 512px;
  width: 90%;
  padding: 58px 0px 300px 0px;
  margin: 0 0 400px 0px;
  @include media-breakpoint-down(md) {
    width: 95%;
    height: 388px;
    margin: 0 0 214px 0px;
  }
}
.header-container {
  width: 560px;
  @include media-breakpoint-down(md) {
    width: 312px;
  }
  &__title {
    text-align: center;
    @include headline-bold(48px, 0%);
    @include media-breakpoint-down(md) {
      @include headline-bold(28px, 0%);
    }
  }
  &__description {
    @include headline-regular(24px, 140%, 0%);
    @include media-breakpoint-down(md) {
      @include body-text(16px, 140%, 0%);
    }
  }
}

.painpoints {
  width: 100%;
  max-width: 1314px;
  transition: opacity 0.1s ease-out;
  position: relative;
  margin-top: 72px;
  @include media-breakpoint-down(md) {
    top: -48px;
  }
  &__list {
    padding: 0 12px;
  }
  &-background {
    background-color: $brand-main-3;
    width: 100vw;
    z-index: -1;
    position: absolute;
    top: -72px;
    bottom: 130px;
    @include media-breakpoint-down(md) {
      top: -48px;
    }
  }
  .painpoints_item1 {
    width: 100%;
    aspect-ratio: 1290/340;
    @include media-breakpoint-down(md) {
      aspect-ratio: 350/280;
    }
  }
  .painpoints_item2 {
    width: 38%;
    aspect-ratio: 483/508;
    @include media-breakpoint-down(md) {
      width: 100%;
      aspect-ratio: 350/280;
    }
  }
  .painpoints_item3 {
    width: 62%;
    aspect-ratio: 786/508;
    @include media-breakpoint-down(md) {
      width: 100%;
      aspect-ratio: 350/280;
    }
  }
}

.background-image {
  padding-bottom: 58px;
  @include media-breakpoint-down(md) {
    padding-bottom: 42px;
  }
}

.solutions {
  gap: 64px;
  height: 1596px;
  max-width: 1290px;
  padding: 0 12px;
  margin-bottom: 86px;
  @include media-breakpoint-down(md) {
    gap: 42px;
    margin-bottom: 42px;
  }
  &__list {
    @include media-breakpoint-down(md) {
      gap: 24px;
    }
  }
}

.solution {
  height: 500px;
  overflow: hidden;
  @include media-breakpoint-down(md) {
    height: 280px;
  }
}

.info {
  &__title {
    @include headline-bold(28px, 0%);
    @include media-breakpoint-down(md) {
      @include headline-regular(20px, auto, 0%);
    }
  }
  &__description {
    @include body-text(16px, 140%, 0%);
    @include media-breakpoint-down(md) {
      @include body-text(12px, auto, 0%);
    }
  }
}
