@import '../_variables';
@import '../base/typography';

.home {
  .hero {
    position: relative;
    height: 780px;
    width: 100%;
    background-color: $banner-black;
    @include media-breakpoint-down(md) {
      height: 424px;
    }

    .background-image__desktop {
      height: 100%;
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      object-fit: cover;
    }
    .background-image__mobile {
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &__content {
      z-index: 1;
      margin-left: 314px;
      @include media-breakpoint-down(md) {
        margin: 84px 32px 0 32px;
      }
    }
    &__slogan {
      object-fit: contain;
    }
    &__slogan-mobile {
      object-fit: contain;
    }
  }
}
.brands {
  max-width: 1290px;
  margin: 56px 0px 98px 0px;
  @include media-breakpoint-down(md) {
    margin: 42px 0px;
  }
  &__title {
    @include headline-regular(24px, 140%, 0%);
    @include media-breakpoint-down(md) {
      @include headline-regular(20px, auto, 0%);
    }
  }
  .brand__logo {
    height: 64px;
    @include media-breakpoint-down(md) {
      height: 28px;
    }
  }
}
.swiper {
  width: 100%;
  height: 100%;

  .swiper-wrapper {
    gap: 12px;
    width: 90%;
  }
}
.features {
  width: 100%;
  position: relative;
  padding-top: 58px;
  margin: 0 0 400px 0px;

  @include media-breakpoint-down(md) {
    width: 95%;
    margin: 0 0 214px 0px;
  }
  &__background {
    width: 90%;
    background-color: $brand-main-1;

    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 270px;
    @include media-breakpoint-down(md) {
      bottom: 150px;
      width: 100%;
    }
  }
  &__list {
    padding: 0 12px;
    margin-top: 54px;
    max-width: 1314px;
    @include media-breakpoint-down(md) {
      margin-top: 30px;
      padding-left: 20px;
    }
    .features_item {
      aspect-ratio: 400/522;
    }
  }
}
.header-container {
  width: 560px;
  @include media-breakpoint-down(md) {
    width: 312px;
  }
  &__title {
    text-align: center;
    @include headline-bold(48px, 0%);
    @include media-breakpoint-down(md) {
      @include headline-bold(28px, 0%);
    }
  }
  &__description {
    @include headline-regular(24px, 140%, 0%);
    @include media-breakpoint-down(md) {
      @include body-text(16px, 140%, 0%);
    }
  }
}

.painpoints {
  width: 100%;
  max-width: 1314px;
  transition: opacity 0.1s ease-out;
  position: relative;
  margin-top: 72px;
  @include media-breakpoint-down(md) {
    top: -48px;
  }
  &__list {
    padding: 0 12px;
  }
  &__background {
    background-color: $brand-main-3;
    width: 100vw;
    z-index: -1;
    position: absolute;
    top: -72px;
    bottom: 130px;
    @include media-breakpoint-down(md) {
      top: -48px;
    }
  }
  .painpoints_item1 {
    width: 100%;
    aspect-ratio: 1290/340;
    @include media-breakpoint-down(md) {
      aspect-ratio: 350/280;
    }
  }
  .painpoints_item2 {
    width: 38%;
    aspect-ratio: 483/508;
    @include media-breakpoint-down(md) {
      width: 100%;
      aspect-ratio: 350/280;
    }
  }
  .painpoints_item3 {
    width: 62%;
    aspect-ratio: 786/508;
    @include media-breakpoint-down(md) {
      width: 100%;
      aspect-ratio: 350/280;
    }
  }
}

.background-image {
  padding-bottom: 58px;
  @include media-breakpoint-down(md) {
    padding-bottom: 42px;
  }
}

.solutions {
  gap: 64px;
  max-width: 1314px;
  padding: 0 12px;
  margin-bottom: 86px;
  @include media-breakpoint-down(md) {
    gap: 42px;
    margin-bottom: 42px;
  }
}
