.home {
  .hero {
    &__smartest {
      color: $hero-smartest-color;
      font-family: 'Liu Jian Mao Cao', cursive;
      font-size: 64px;
      font-weight: 400;
      line-height: 1;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $hero-smartest-color;
      @include media-breakpoint-down(md) {
        font-size: 32px;
        -webkit-text-stroke-width: 0.8px;
      }
    }

    position: relative;
    height: 780px;
    width: 100%;
    background-color: $banner-black;
    @include media-breakpoint-down(md) {
      height: 424px;
    }

    &__bg--desktop {
      height: 100%;
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      object-fit: cover;
    }
    &__bg--mobile {
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &__content {
      z-index: 1;
      margin-left: 10%;
      @include media-breakpoint-down(md) {
        margin: 84px 32px 0 32px;
      }
    }
  }
  .brands {
    margin: 56px 0px 98px 0px;
    @include media-breakpoint-down(md) {
      margin: 42px 0px;
    }
    .brand {
      height: 72px;
      width: 276px;
      @include media-breakpoint-down(md) {
        height: 28px;
        width: 100px;
      }
    }
  }

  .features {
    width: 100%;
    position: relative;
    padding-top: 58px;
    .header-container {
      max-width: 600px;
      @include media-breakpoint-down(md) {
        max-width: 400px;
      }
    }
    @include media-breakpoint-down(md) {
      width: 95%;
    }
    &__background {
      width: 90%;
      background-color: $primary;

      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 270px;
      @include media-breakpoint-down(md) {
        bottom: 150px;
        width: 100%;
      }
    }
    &__list {
      width: 80%;
      padding: 0 12px;
      margin-top: 54px;
      max-width: 1314px;

      @include media-breakpoint-down(md) {
        width: 100%;
        margin-top: 30px;
      }
      .feature-card {
        aspect-ratio: 400/522;
        @include media-breakpoint-down(md) {
          aspect-ratio: 309/378;
        }
      }
    }
  }

  .painpoints {
    margin-top: 200px;
    width: 100%;
    max-width: 1314px;
    transition: opacity 0.1s ease-out;
    position: relative;
    @include media-breakpoint-down(md) {
      margin-top: 112px;
    }
    &__header {
      width: 560px;
      @include media-breakpoint-down(md) {
        width: 312px;
      }
    }
    &__list {
      padding: 0 12px;
      .painpoint-card {
        height: 508px;
        &__content {
          width: 60%;
          z-index: 1;
        }
        @include media-breakpoint-down(md) {
          height: 280px;
          &__content {
            width: 100%;
          }
        }
        &--first {
          background-color: $banner-dark-purple;
          gap: 100px;
          height: 340px;

          @include media-breakpoint-down(lg) {
            gap: 80px;
          }

          @include media-breakpoint-down(md) {
            height: 280px;
            gap: 24px;
          }
        }
        &--second {
          background-image: url('../assets/images/pages/home/painpoint-2.png');
          background-size: cover;
          background-position: center top 10px;
          background-repeat: no-repeat;

          @include media-breakpoint-down(md) {
            background-image: url('../assets/images/pages/home/painpoint-2-mobile.png');
          }
        }
      }
    }
    &__background {
      background-color: $brand-main-3;
      width: 100vw;
      z-index: -1;
      position: absolute;
      top: -72px;
      bottom: 130px;
      @include media-breakpoint-down(md) {
        top: -48px;
      }
    }
  }

  .background-image {
    padding-bottom: 58px;
    @include media-breakpoint-down(md) {
      padding-bottom: 42px;
    }
  }

  .solutions {
    padding: 0 12px;
    margin-bottom: 86px;

    &__container {
      max-width: 1314px;
      gap: 64px;
      @include media-breakpoint-down(md) {
        gap: 40px;
      }
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 42px;
    }

    .solution-card {
      height: 508px;
      @include media-breakpoint-down(md) {
        height: 280px;
      }
    }
  }
}
