.tourist-ready {
  .hero {
    position: relative;
    height: 500px;
    width: 100%;
    background-color: $banner-black;
    @include media-breakpoint-down(md) {
      height: 360px;
      padding: 96px 12px 0px 12px;
    }

    &__bg--desktop {
      height: 100%;
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      object-fit: cover;
    }
    &__bg--mobile {
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &__content {
      z-index: 1;
      margin-left: 10%;
      @include media-breakpoint-down(md) {
        margin: 0;
      }
    }
  }
  .globe {
    padding-top: 120px;
    .globe-image {
      margin-top: -40px;
      width: 100%;
      object-fit: contain;
      @include media-breakpoint-down(md) {
        margin-top: 40px;
      }
    }

    @include media-breakpoint-down(md) {
      padding-top: 64px;
    }
  }
  .items {
    padding: 100px 12px 160px 12px;
    @include media-breakpoint-down(md) {
      padding: 48px 12px 58px 12px;
    }
    &__list {
      max-width: 1314px;
      gap: 192px;
      > :nth-child(1),
      > :nth-child(3) {
        flex-direction: row;
      }
      > :nth-child(2),
      > :nth-child(4) {
        flex-direction: row-reverse;
      }
      @include media-breakpoint-down(md) {
        > :nth-child(1),
        > :nth-child(2),
        > :nth-child(3),
        > :nth-child(4) {
          flex-direction: column;
        }
      }

      @include media-breakpoint-down(md) {
        gap: 80px;
      }
      .item-container {
        gap: 64px;

        @include media-breakpoint-down(md) {
          gap: 24px;
        }
      }
      .item {
        &__image {
          object-fit: contain;
          width: 50%;
          @include media-breakpoint-down(md) {
            width: 100%;
          }
        }
        &__content {
          gap: 72px;
          @include media-breakpoint-down(md) {
            gap: 20px;
          }
        }
      }
    }
  }
  .integration {
    overflow: hidden;
    z-index: -1;
    padding-top: 108px;
    gap: 64px;
    margin-bottom: -680px;
    @include media-breakpoint-down(md) {
      padding-top: 40px;
      gap: 100px;
      margin-bottom: -118%;
    }
    &__content-container {
      max-width: 560px;
    }
    &__phone {
      max-width: 1144px;
      object-fit: contain;
      position: relative;
      @include media-breakpoint-down(md) {
        max-width: 100%;
      }
    }
    &__block {
      position: relative;
      .circle {
        position: absolute;
        aspect-ratio: 1;
        left: 50%;
        top: 32%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        &::after {
          content: '';
          position: absolute;
          left: 50%;
          top: 29%;
          transform-origin: bottom;
          transform: translate(-50%, -50%);
          background-color: white;
        }
        @include media-breakpoint-down(md) {
          top: 20%;
        }
        &--1 {
          border: 1px solid $picture-purple;
          animation: rotate1 4s linear infinite;
          width: 58%;
          z-index: -2;
          &::after {
            width: 80%;
            height: 61%;
            z-index: -1;
          }
        }
        &--2 {
          border: 1px solid rgba($picture-purple, 0.6);
          animation: rotate2 4s linear infinite;
          width: 72%;
          z-index: -4;
          &::after {
            width: 75%;
            height: 76%;
            z-index: -3;
          }
        }
        &--3 {
          border: 1px solid rgba($picture-purple, 0.4);
          animation: rotate3 4s linear infinite;
          width: 86%;
          z-index: -6;
          &::after {
            width: 70%;
            height: 91%;
            z-index: -5;
          }
        }
        &--4 {
          border: 1px solid rgba($picture-purple, 0.2);
          animation: rotate4 4s linear infinite;
          width: 100%;
          z-index: -8;
          &::after {
            width: 45%;
            height: 106%;
            z-index: -7;
          }
        }
      }
    }
  }
}
