// Header Block
.header-wrapper {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: $header-padding;
  z-index: $zindex-tooltip;
  &__container {
    max-width: 1314px;
  }
  &__logo {
    width: 172px;
    @include media-breakpoint-down(xl) {
      width: 112px;
    }
  }
  &__chevron {
    transition: transform 0.3s ease;
    margin-left: 8px;

    &--rotated {
      transform: rotate(180deg);
    }
  }
  &__demo-button {
    @include media-breakpoint-down(md) {
      font-size: 14px !important;
    }
  }
  @include media-breakpoint-down(xl) {
    padding: $header-padding-mobile;
  }
}
