@import '../variables';
@import '../base/typography';

.features {
  padding: 56px 0px;
  position: relative;

  &__container {
    position: relative;
    z-index: $zindex-modal;
    gap: 32px;
  }

  &__info {
    gap: 12px;
    width: 281px;
  }

  &__divider {
    height: 236px;
    width: 1px;
    background-color: #d7d7d7;
  }

  &__grid {
    gap: 20px;
  }
}

// Card Block (新的獨立 Block)
.card {
  border-radius: 16px;
  width: 302px;
  padding: 36px;
  gap: 32px;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 2px solid $primary;
  }

  &__icon {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
  }

  &__content {
    gap: 8px;
  }
}
