.header-features-section {
  height: $features-section-height;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  padding: $features-section-padding;
  z-index: $zindex-tooltip;

  &__container {
    max-width: $features-container-max-width;
  }

  &__info {
    min-width: $features-info-min-width;
    max-width: $features-info-max-width;
  }

  &__divider {
    height: $features-divider-height;
    width: $features-divider-width;
    background-color: $features-divider-color;
  }

  .feature-card {
    width: $feature-card-width;
    min-width: $feature-card-min-width;
    cursor: pointer;
    border: $feature-card-border-width solid transparent;

    &__image {
      width: $feature-card-image-size;
      height: $feature-card-image-size;
    }
    &__arrow {
      display: none;

      &--show {
        display: block;
      }
    }
    &:hover,
    &:focus {
      border: 2px solid $primary;
    }
  }
}
