@import '../variables';
@import '../base/typography';

.header-features-section {
  height: 384px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 12px;
  z-index: $zindex-tooltip;

  &__container {
    max-width: 1314px;
  }

  &__info {
    min-width: 160px;
    max-width: 280px;
  }

  &__divider {
    height: 236px;
    width: 1px;
    background-color: #d7d7d7;
  }

  .feature-card {
    width: 33.33%;
    min-width: 180px;
    cursor: pointer;
    border: 2px solid transparent;

    &__image {
      width: 80px;
      height: 80px;
    }
    &__arrow {
      display: none;

      &--show {
        display: block;
      }
    }
    &:hover,
    &:focus {
      border: 2px solid $primary;
    }
  }
}
