@import '../_variables';

// Site Footer Component Styles
// Using Bootstrap utilities first, custom styles only where needed

.footer {
  &__logo {
    width: 164px;
  }
  &__slogan {
    width: 40%;
  }

  &__banner {
    position: relative;
    z-index: $zindex-modal;
    height: 448px;
    max-width: 1314px;
    background-color: $banner-black;
    padding-left: 142px;
    margin-bottom: -186px;
    @include media-breakpoint-down(md) {
      height: 500px;
      padding: 48px 0px 420px 0px;
      margin: 0 12px -186px 12px;
    }

    .background-image__desktop {
      height: 100%;
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      object-fit: cover;
    }
    .background-image__mobile {
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &__content {
      padding-left: 142px;
      z-index: 1;
      margin-left: 314px;
      @include media-breakpoint-down(md) {
        margin: 84px 32px 0 32px;
      }
    }
    &__slogan {
      object-fit: contain;
    }
    &__slogan-mobile {
      object-fit: contain;
    }
  }

  &__navigation {
    padding: 274px 0 118px 0;
    @include media-breakpoint-down(xl) {
      padding: 274px 16px 118px 16px;
    }
    @include media-breakpoint-down(md) {
      padding: 178px 0 57px 0;
    }

    &__content {
      max-width: 1314px;
      // gap: $spacers-5;
      flex-shrink: 0;
      @include media-breakpoint-down(md) {
        // gap: $spacers-7;
      }
    }
    &__links {
      // gap: $gap-lg;
    }
  }
}
