@import '../_variables';

// Site Footer Component Styles
// Using Bootstrap utilities first, custom styles only where needed

.footer {
  &__container {
  }
  // Logo sizing
  &__logo {
    width: 164px;
  }
  &__hero {
    height: 632px;
    padding: 78px 0px 414px 0px;
    position: relative;
    @include media-breakpoint-down(md) {
      height: 500px;
      padding: 48px 0px 420px 0px;
    }
  }
  &__slogan {
    max-width: 1290px;
    @include media-breakpoint-down(md) {
      width: 80%;
    }
  }
  &__cta {
    border-radius: 20px;
    background-image: url('../assets/images/footer-cta-bg.png');
    background-size: cover;
    width: 100%;
    max-width: 1290px;
    height: 448px;
    flex-shrink: 0;
    position: absolute;
    top: 370px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 60px 84px 0 rgba(0, 0, 0, 0.25);
    @include media-breakpoint-down(md) {
      background-image: url('../assets/images/footer-bg-mobile.png');
      width: 100%;
      height: 448px;
      top: 180px;
    }
  }

  &__navigation {
    padding: 274px 0 118px 0;
    @include media-breakpoint-down(xl) {
      padding: 274px 16px 118px 16px;
    }
    @include media-breakpoint-down(md) {
      padding: 178px 0 57px 0;
    }

    &__content {
      max-width: 1290px;
      // gap: $spacers-5;
      flex-shrink: 0;
      @include media-breakpoint-down(md) {
        // gap: $spacers-7;
      }
    }
    &__links {
      // gap: $gap-lg;
    }
  }
}

// Navigation links styling

// Copyright text styling
