@import '../_variables';

// Site Footer Component Styles
// Using Bootstrap utilities first, custom styles only where needed

.footer {
  &__logo {
    width: 164px;
  }

  .top-image {
    margin-top: 76px;
    @include media-breakpoint-down(md) {
      margin-top: 44px;
    }
    .background-image__desktop {
      width: 100%;
    }
    .background-image__mobile {
      width: 80%;
      object-fit: cover;
    }
  }

  .banner {
    position: relative;
    z-index: $zindex-modal;
    margin: 152px 12px -186px 12px;
    height: 448px;
    max-width: 1314px;
    background-color: $banner-black;
    width: 100%;
    @include media-breakpoint-down(md) {
      height: 500px;
      padding: 56px 20px 122px 20px;
      margin: 84px 12px -122px 12px;
    }

    .background-image__desktop {
      height: 100%;
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      object-fit: cover;
    }
    .background-image__mobile {
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &__content {
      z-index: 1;
      margin-left: 10%;
      @include media-breakpoint-down(md) {
        margin: 0px;
      }
    }
  }

  &__slogan-decoration {
    bottom: -6px;
    left: 0;
    height: auto;

    @include media-breakpoint-down(md) {
      bottom: -8px;
      left: 14px;
    }
  }

  .navigation {
    padding: 274px 12px 118px 12px;

    @include media-breakpoint-down(md) {
      padding: 178px 0 57px 0;
    }
    &__content {
      max-width: 1314px;
      flex-shrink: 0;
    }
  }
}
