@import '../variables';
@import '../base/typography';

$header-padding: 12.5px 12px;
$header-padding-mobile: 12px 8px;
// Header Block
.header {
  position: relative;
  padding: $header-padding;
  z-index: $zindex-tooltip;
  &__container {
    max-width: 1314px;
  }
  &__chevron {
    transition: transform 0.3s ease;
    margin-left: 8px;

    &--rotated {
      transform: rotate(180deg);
    }
  }
}

@include media-breakpoint-down(xl) {
  .header {
    padding: $header-padding-mobile;
  }
}
