@import '../variables';
@import '../base/typography';

// Input Variables
$input-transition: all 0.2s ease-in-out;

.input__field {
  border: 1px solid $neutral-1;
  transition: $input-transition;

  &::placeholder {
    color: $neutral-1;
  }

  &:focus,
  &:active,
  &:hover {
    border-color: $brand-main-1;
  }

  &:disabled {
    opacity: 0.5;
    border-color: $neutral-1;
    color: $neutral-1;
    cursor: not-allowed;
  }
  &--error {
    border-color: $danger;
    color: $danger;

    &::placeholder {
      color: $danger;
    }

    &:focus {
      border-color: $danger;
      color: $danger;
    }
  }
}
