// Menu Block
.menu {
  padding: $menu-padding;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex-tooltip;

  &__divider {
    height: $menu-divider-height;
    width: 100%;
  }

  &__list {
    &__header {
      cursor: pointer;
      .chevron {
        transition: $menu-chevron-transition;
        &--rotated {
          transform: rotate(180deg);
        }
      }
    }
  }
}

// Feature Block
.feature {
  &__dropdown {
    max-height: 0;

    &--show {
      max-height: $feature-dropdown-max-height;
    }
  }

  &__icon {
    width: $feature-icon-width;
  }

  &__arrow {
    padding: $feature-arrow-padding;
  }

  &__divider {
    height: $feature-divider-height;
  }
}
