@import '../variables';
@import '../base/typography';

// Menu Block
.menu {
  padding: 24px 12px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex-tooltip;

  &__divider {
    height: 1px;
    width: 100%;
  }

  &__list {
    &__header {
      cursor: pointer;
      .chevron {
        transition: transform 0.3s ease;
        &--rotated {
          transform: rotate(180deg);
        }
      }
    }
  }
}

// Feature Block
.feature {
  &__dropdown {
    max-height: 0;

    &--show {
      max-height: 500px;
    }
  }

  &__icon {
    width: 40px;
  }

  &__arrow {
    padding: 12px 10px;
  }

  &__divider {
    height: 1px;
  }
}
