.simple-footer {
  .navigation {
    padding: $simple-footer-navigation-padding;

    @media (max-width: 768px) {
      padding: $simple-footer-navigation-padding-mobile;
    }
  }

  .navigation__content {
    max-width: $simple-footer-navigation-content-max-width;
  }

  .logo {
    height: $simple-footer-logo-height;
    width: auto;
  }
}
